In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
df = pd.DataFrame(temp_df)

In [5]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,92.497,8.7,16761
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,75.578,8.7,22478
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,57.586,8.6,10152
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,49.643,8.6,13340
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,21.274,8.6,3913

In [6]:
df.shape

(20, 7)

### get data from multiple pages

In [7]:
for i in range(1, 429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [8]:
df.head(5)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,92.497,8.7,16761
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,75.578,8.7,22478
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,57.586,8.6,10152
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,49.643,8.6,13340
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,21.274,8.6,3913

In [9]:
df.shape

(8580, 7)